html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: #a9b8cc;
    font-family: 'Annie Use Your Telescope',
cursive;

}

#message-pane {
    background-color: #2183ce;
    background-image: url("/assets/images/C2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#form-card {
    margin: 10px;
}

.material-icons {
    font-size: 50px !important;
}

.message-card {
    max-width: 75%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}